@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Stack+Sans+Notch:wght@200..700&display=swap");

:root {
  --background-color: #e1a926;
  --base-color: #160a09;
  --extra-color: #069169;
  --spacing: 20px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

body {
  padding: var(--spacing);
  background-color: var(--background-color);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.3s;
}
a:hover {
  transition: 0.6s;
  color: var(--extra-color);
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Stack Sans Notch", sans-serif;
  text-align: center;
}
p {
  text-align: justify;
}
section#inicio {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
section#inicio > aside > nav > ul {
  display: flex;
  gap: var(--spacing);
}
section#inicio h1 {
  font-size: 35px;
  padding-bottom: 90px;
}
section#imagenes_hea img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  padding: var(--spacing);
  border: none;
  border-radius: 35px;
}
html {
  scroll-behavior: smooth;
}
section#imagenes_hea ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
}

section#reservas > form > label {
  display: flex;
  flex-direction: column;
  padding-top: var(--spacing);
}

section#reservas > form > button:nth-child(4) {
  width: 80px;
}

section#reservas form > label:nth-child(2) {
  padding-bottom: var(--spacing);
}
section#cocteles h2 {
  padding-top: 80px;
  padding-bottom: var(--spacing);
}
section#cocteles h3 {
  padding: var(--spacing);
}
section#cocteles p {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}
section#eventos h2{
    padding: var(--spacing);
    padding-top: 120px;

}

section#eventos h3:nth-child(2){
    text-align: center;
    padding-top:  var(--spacing);
}
section#eventos h3:nth-child(3){
    text-align: justify;
    padding-bottom: var(--spacing);
    padding-top: var(--spacing);
}

section#eventos ul{
    padding-bottom: 80px;
}
